# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ideas_voting?schema=public
POSTGRES_DB=ideas_voting
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
BACKEND_PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Frontend
VITE_API_URL=http://localhost:3001
FRONTEND_PORT=3000
